*
  box-sizing: border-box
a 
  text-decoration: none
  cursor: pointer
body
  font-family: 'Roboto', sans-serif;
.container
  max-width: 1200px
  margin: 0 auto
img
  max-width: 100%
button
  cursor: pointer
.input
  border: 1px solid $grey
  border-radius: 2px
  font-size: 16px
  line-height: 24px
  color: $dgrey
  background-repeat: no-repeat
  background-position: left 10px center
  padding: 8px 0 8px 35px
    
      