.header
  display: flex
  align-items: center
  justify-content: space-between
  padding-top: 44px
  padding-bottom: 40px
  &__input
    max-width: 690px
    width: 60%
    background-image: url(../img/header/home-input.svg)
  &__buttons
    display: flex
    align-items: center
  &__button
    display: flex
    align-items: center
    justify-content: center
    font-weight: normal
    padding: 8px 16px
    font-size: 16px
    line-height: 25px
    border-radius: 2px
    background: $light
    border: 1px solid $grey
    color: #595959
    &--blue
      background: $blue
      color: $light
      margin-right: 10px
      border: 1px solid $blue
  &__icon
    margin-right: 5px
    width: 15px
    height: 13px
  

  
 
